




.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .rotating {
    width: 100px;

    svg {
    }
  }

  @-webkit-keyframes rotating /* Safari and Chrome */
  {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .rotating {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
  }
}


  .wrapper{
    position: relative;
    min-height: 600px;
    .content{
      display: flex;


    }
  }

.menu{
  position: relative;
  min-width: 300px;
  .coverList{
    .listMenu{
      .listMenuItem{
        .dropdownBtn{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 10px;
          border-bottom: 1px solid #dee0e0;
          cursor: pointer;
          .dropdownName{
            display: flex;
            svg{
              width: 20px;
              margin-right: 15px;
            }
          }
          .icon{
            svg{
              width: 20px;
            }
          }
        }
        .dropdownMenu{
          display: none;
          .dropdownMenuItem{
            border-bottom: 1px solid #dee0e0;
            .dropdownMenuItemLink{
              width: 100%;
              text-decoration: none;
              padding: 12px 12px 12px 44px;
              opacity: .7;
              display: block;
              &:hover{
                opacity: 1;
                background-color: #dee0e0;
              }
              span{
                font-size: 15px;
                color: #222b45;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                line-height: normal;
                letter-spacing: normal;
              }
            }
          }
        }
      }
      .openItem{
        .dropdownMenu{
          display: block;
        }
      }
    }
  }
}


header{
  display: flex;
  width: 100%;
  .blockNav{
    min-width: 300px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee0e0;
    .menuBtn{
      cursor: pointer;
      svg{
        width: 32px;
      }
    }
    .logoBank{
      font-size: 28px;
    }
  }
  .blockHeader{
    background: #06503c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    .nameProject{
      color: #ffffff;
    }
    .userBlock{
      display: flex;
      align-items: center;
      .userLogo{
        width: 40px;
        height: 40px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
      }
      .userName{
        color: #ffffff;
        cursor: pointer;
      }
      .dropdown{
        button{
          background: transparent;
          border-color: transparent;
          &:hover{
            background: transparent;
          }
        }
      }
    }
  }
}




.TableADMIN_USERS{
  .controlBlock{
    padding: 0 30px 5px 0;
    background: #fff;
  }
}
.TableADMIN_ROLES{
  .controlBlock{
    padding: 0 30px 5px 0;
    background: #fff;
  }
}



.coverTable{
  background-color: #dee0e0;
  width: 100%;
  height: 100vh;
  padding: 15px;
  .headerTable{
    background: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    .titleTable{
      font-weight: bold;
    }
    .optionBlock{
      //display: flex;
      .btnRow{
        padding: 10px;
        cursor: pointer;
        display: flex;
        svg{
          width: 20px;
        }
      }
    }
  }
  .filter{
    background: #ffffff;
    padding: 0 15px;
    .coverInput, .coverCheckbox{
      label{
        margin: 0 10px;
      }
    }
    .coverCheckbox{
      margin-top: 10px;
    }
    .search{
      margin: 10px;
    }
  }
  .coverDeleteBlock, .coverEditBlock, .coverAddBlock, .coverPopupTable, .coverPopupError, .coverOrder_numberError{
    position: fixed;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    opacity: 1;
    transition: opacity 150ms ease-out;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,.5);
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    .innerBlock{
      max-width: 500px;
      background: #ffffff;
      padding: 30px;
    }
  }
  .coverPopupTable{
    padding-top: 50px;
    overflow: hidden;
    background: #fff;
    .innerBlock{
      padding: 30px 30px 30px 30px;
      overflow-y: scroll;
      max-width: 100%;
      height: 100%;
      .btn-close{
        position: fixed;
        right: 20px;
        top: 6px;
      }
      .btn-save{
        position: fixed;
        left: 20px;
        top: 5px;
      }
    }
  }
  .coverPopupError{
    .innerBlock{
      .title{
        font-weight: bold;
        margin-bottom: 10px;
      }
      .msg{
        font-size: 12px;
        margin-bottom: 40px;
      }
    }
  }
  .innerTable{
    background: #ffffff;
    padding: 15px;
    position: relative;
  }
}


.REPORT_SETTINGS_TSP{
  .filter{
    display: flex;
  }

  .coverInputText{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    .autocomplete{
      position: relative;
      .dn{
        display: none!important;
      }
      input{
        color: #8e8e8e;
      }
      //input:focus{
      //  color: initial;
      //}
      .selected{
        color: #212529;
      }
      .blockSelect{
        position: absolute;
        top: 38px;
        border: 1px solid #ced4da;
        //max-width: 243.17px;
        background: #fff;
        overflow-y: auto;
        max-height: 300px;
        width: 100%;
        border-top: none;
        z-index: 1;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        .blockSelectItem{
          padding: 2px 5px;
          cursor: pointer;
          &:hover{
            color: #fff;
            background: #797b7d;
          }
        }
      }
      .loader{
        font-size: 25px;
      }
    }
  }
  .coverInputSelect{
    margin-right: 10px;
    width: 400px;
  }
  .coverInputDate{
    .coverInputs{
      display: flex;
      .coverDate{
        label, input{
          margin-right: 10px;
        }
      }
    }
  }
  .coverResult{
    display: flex;
    background: #ffffff;
    .resultSearch{
      padding: 10px;
      margin: 10px;
      //border: 1px solid #333;
    }
    .typeAcquiring{
      .coverBtn{
        padding: 10px;
        margin: 10px;
        .customBtnAc{
          opacity: .5;
        }
        .customBtnAc:disabled{
          opacity: 1!important;
        }
      }
      .report{
        padding: 10px;
        margin: 10px;
        .coverInput{
          .errorEmail{
            border: 1px solid red;
          }
          .errorEmail ~ p{
            color: red;
            font-size: 10px;
            margin: 0;
           }
        }
      }
    }
  }
}
.REPORT_aquiring{
  .filter{
    display: flex;
  }
  .coverInput{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    .validError{
      border: 1px solid red;
    }
    // select{
    //   max-width: 400px;
    // }
    .autocomplete{
      position: relative;
      .dn{
        display: none!important;
      }
      input{
        color: #8e8e8e;
      }
      input.selected{
        color: #212529;
      }
      .blockSelect{
        position: absolute;
        top: 38px;
        border: 1px solid #ced4da;
        //max-width: 243.17px;
        background: #fff;
        overflow-y: auto;
        max-height: 300px;
        width: 100%;
        border-top: none;
        z-index: 1;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        .blockSelectItem{
          padding: 2px 5px;
          cursor: pointer;
          &:hover{
            color: #fff;
            background: #797b7d;
          }
        }
      }
      .loader{
        font-size: 25px;
      }
    }
    .coverInputs{
      display: flex;

      .coverDate{
        display: flex;
        align-items: center;
        label, input{
          margin-right: 10px;
        }
      }
    }
  }
  .btnBlock{
    background: #ffffff;
    padding: 15px;
  }

}



.DICT_NET_BRAND{
  .addbBlock{
    display: flex;
    padding: 10px;
    background: #ffffff;
    justify-content: space-around;
    .coverInputs{
      display: flex;
      flex-direction: column;
      .autocomplete{
        position: relative;
        .dn{
          display: none!important;
        }
        input{
          color: #8e8e8e;
        }
        input.selected{
          color: #212529;
        }
        .blockSelect{
          position: absolute;
          top: 38px;
          border: 1px solid #ced4da;
          //max-width: 243.17px;
          background: #fff;
          overflow-y: auto;
          max-height: 300px;
          width: 100%;
          border-top: none;
          z-index: 1;
          -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          .blockSelectItem{
            padding: 2px 5px;
            cursor: pointer;
            &:hover{
              color: #fff;
              background: #797b7d;
            }
          }
        }
        .loader{
          font-size: 25px;
        }
      }
      .innerBlock{
        .coverInput{
          display: flex;
          align-items: center;
          label{
            width: 100px;
          }
        }
      }
    }
    .contactPerson{
      .innerBlock{
        .coverInput{
          margin: 5px 0;
          .errorEmail{
            border: 1px solid red;
          }
        }
      }
    }
  }
  .addBlockRadio{
    margin-right: 10px;
    padding: 10px;
    background: #ffffff;
    .title{
      //text-align: center;
    }
    .coverRadioBtn{
      input{
        margin: 5px;
      }
    }
  }
  .coverBtn{
    margin-right: 10px;
    padding: 25px 10px 10px 10px;
    background: #ffffff;
  }
  .coverTwoLevel{
    margin-right: 10px;
    padding: 10px;
    background: #ffffff;
    .twoLevel{
      margin-top: 30px;
      display: flex;
      align-items: flex-end;
      .innerBlock{
        &:first-child{
          margin: 0 134px 0 65px;
        }
      }
    }
    button{
      margin-top: 30px;
    }
  }
}


.spanEmptyError{
  color: red;
  font-size: 10px;
}
.errorEmpty{
  border: 1px solid red!important;
}
.autocompleteOption{
  color: #000;
  span{
    font-size: 10px;
  }
}




table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  thead {
    tr:nth-child(1) th{
      position: sticky;
      top: 0;
      z-index: 1;
      background: #06503c;
      padding: .25rem 1rem;
      border: 1px solid #333;
      border-top: none;
      color: #fff;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cflow-table-sortby-direction {
          display: none;

          &.desc, &.asc {
            display: block;
            svg{
              width: 15px;
            }
            svg path {
              fill: #dee0e0; //$dark-300;
            }
          }

          &.asc {
            transform: rotate(180deg);
          }
        }

        :hover {
          cursor: pointer;
        }
      }

      span strong {
        color: #fff;
      }
    }
  }

  tbody {
    tr {
      height: 40px;
      border-bottom: 1px solid #333;
      transition: background-color .3s ease-out;
      cursor: pointer;
      &:nth-child(3n+2) {
        background-color: #fff;
      }

      &:nth-child(2n+2) {
        background-color: #f7f9fc;
      }

      &:hover {
        background-color: rgba(51,51,51,0.4);
        //background-color: #333;
      }
    }
    .active{
      background-color: rgba(51,51,51,0.4)!important;
    }

    td {
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #c0c1c2; //c0c1c2;
      p {
        align-items: center;
        word-break: keep-all;
        font-size: .75rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      &.plastic_type_name{
        min-width: 250px;
        >div{
          display: flex;
          justify-content: space-between;
          align-content: flex-start;
        }
      }
      &.codes, &.avail_operations {
        padding: 0;
        min-width: 150px;
      }
      svg{
        width: 15px;
      }
    }
    .pin_status_desc{
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.login{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  //position: fixed;
  //top: 0;
  //right: 0;
  //left: 0;
  //bottom: 0;
  //z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerLogin{
    min-width: 600px;
    padding: 20px;
    background: #ffffff;
    h3{
      text-align: center;
    }
    .form{
      .coverInput{
        margin-bottom: 15px;
        label{
          display: block;
          margin-bottom: 0.5rem;
          color: #8f9bb3;
          font-family: 'Open Sans', sans-serif;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 1rem;
        }
        input{
          width: 100%;
          padding: 0.6875rem 1rem;
          font-family: 'Open Sans', sans-serif;
          font-size: 0.9375rem;
          font-weight: 600;
          line-height: 1.5rem;
          border: 1px solid #e4e9f2;
          border-radius: 0.25rem;
          background-color: #f7f9fc;
          color: #222b45 !important;
          transition: 0.35s all ease-out;
        }
      }
      .coverBtn{
        button{
          width: 100%;
          padding: 0.8125rem 1.125rem;
          line-height: 1.25rem;
          cursor: pointer;
          text-transform: capitalize;
          background-color: #004b46;
          border: 0.0625rem solid #004b46;
          border-radius: 0.25rem;
          transition: all .35s;
          color: #ffffff;
        }
      }
    }
  }
}



.accordionWithOutChildren{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.dropdownMenuItemLink{
  width: 100%;
  text-decoration: none;
  opacity: .7;
  display: block;
  cursor: pointer;
  &:hover{
    opacity: 1;
    background-color: #dee0e0;
  }
}
.itemAct{
  opacity: 1;
  background-color: #dee0e0;
}


.testUrl{
  position: absolute;
  left: 448px;
  top: 19px;
}

.order_number_error{
  border: 1px solid red;
}


.coverloader{
  position: absolute;
  top: 0;
  z-index: 50;
  background: #fbfbfb94;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  .loader {
    color: green;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
}


@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





.popupTable{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerBlock{
    background: #fff;
    h2{
      background: #06503c;
      color: #f2f2f2;
      margin: 0;
      padding: 20px 10px;
      font-weight: 700;
    }
    .coverInputBlock{
      display: flex;
      padding: 15px;
      .inputblock{
        display: flex;
        flex-direction: column;
        & > :last-child{
          border-right: 1px solid #000;
        }
        label{
          font-weight: bold;
          font-size: 14px;
          background: #06503c;
        }
        input{
          border-right: none;
          border-top: none;
          border-width: 1px;
        }
      }
    }
    .coverBtn{
      padding: 0 15px 15px 15px;
      display: flex;
      justify-content: space-between;
      .sendCallback{
        background: #06503c;
        border-radius: 4px;
        border: none;
        padding: 8px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
      }
      .closeCallback{
        border-radius: 4px;
        border: none;
        padding: 8px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
      }
    }
  }
}


.profile{

  .innerProfile{
    .headerBlock{
      background: #06503c;
      padding: 10px;
      h3{
        text-align: center;
      }
      .dataBlock{
        display: flex;
        justify-content: space-around;
        .date{
          .coverInput{
            display: flex;
            flex-direction: column;
            label{
              text-align: center;
              margin: 20px 0 10px 0;
            }
          }
        }
        .user{
          .coverInput{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .customInput{
              margin-left: 10px;
            }
          }
        }
      }
    }
    .commmonBlock{
      padding: 20px;
      h4{
        text-align: center;
      }
      .dataBlock{
        .coverInput{
          width: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .customInput{
            margin-left: 10px;
          }
          .coverInputs{
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    .btnBlock{
      margin: 30px auto;
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
  }
}




//.callbackForm .innerCallbackForm .ok-message {
//  padding: 0 15px;
//  margin: 12px 0;
//  font-weight: 700;
//}
//.callbackForm .innerCallbackForm .error-message{
//  padding: 0 15px;
//  color: red;
//  margin: 4px;
//}
//.callbackForm .innerCallbackForm .coverBtn {
//  padding: 0 15px 15px 15px;
//  display: flex;
//  justify-content: space-between;
//}
//.callbackForm .innerCallbackForm .coverBtn .sendCallback {
//  background: #3ccac8;
//  border-radius: 4px;
//  border: none;
//  padding: 8px 20px;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 14px;
//  line-height: 22px;
//  text-transform: uppercase;
//  text-decoration: none;
//  color: #fff;
//}
//.callbackForm .innerCallbackForm .coverBtn .closeCallback {
//  border-radius: 4px;
//  border: none;
//  padding: 8px 20px;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 14px;
//  line-height: 22px;
//  text-transform: uppercase;
//  text-decoration: none;
//  color: #333;
//}